{% extends 'base/web-base.html' %}

{% block container %}

{% load static %}   

{% include 'includes/header.html' %}

<main class="mt-20 font-[Poppins]">
  <div class="relative h-screen slider">
      <!-- List Items -->
      <div class="abolute inset-0 list">
          <!-- Active Item -->
          <div class="absolute inset-0  opacity-100 transition duration-500 ease-in-out item">
              <img src="{% static 'images/about-bg.jpg' %}" class="w-full h-[900px]">
          </div>
      </div>
  </div>
</main>
<section class="wrapper">
    <h1 class="text-[40px] font-semibold text-[#491c1c] text-center">The history of SwiftTalk a legacy of transforming lives</h1>
<div>
    <ul>
        <h2 class="text-[20px] text-[#000] py-3 font-semibold">The advent and impact of technology for our common man</h2>
        <p class="text-19px font-medium text-[#4e4d4d]">From a purely technological point of view, we tend to think of mobile phones in terms of applications, processors, cameras etc. However, when we look at the society at large, the impact of mobile phones in the lives of the citizen of our country has been nothing short of phenomenal. Consequently, we at SwiftTalk have played a singular role in transforming the lives of over 60 lakh individuals profoundly, for the better.</p>
    </ul>
    <ul>
        <h2 class="text-[20px] text-[#000] py-3 font-semibold">Innovative way to be connected</h2>
        <p class="text-19px font-medium text-[#4e4d4d]">We were right there when mobile phones were just beginning to sweep through our society, connecting just about everyone. We began our journey of creating superb mobile phone stores in 2023 SwiftTalk World. We soon become recognized for our hard work, expertise and the finest range of products. We brought hi-tech devices ranging from the latest mobile phones, tablets, laptops,  smart watches,  entertainment system and accessories under one roof. At that time, such concept stores were a novelty and we are recognized as a pioneer in this segment in South India.</p>
    </ul>
    <ul>
        <h2 class="text-[20px] text-[#000] py-3 font-semibold">Building the Chain</h2>
        <p class="text-19px font-medium text-[#4e4d4d]">What began as a single store soon grew to a series of stores as we found customers across the State increasingly loving our concept stores! As we rebranded to become SwiftTalk, we had already become a leading mobile phone and electronics store chain with 10 showrooms across Kerala. The transformative power has been our innate ability to understand technology and connect it with the lives of people. Our superior service and emphasis on giving the customer the best choice at the right price have proven to be our success mantra. We know our products very well and we know our customers even better. We know what makes them tick, what tickles their fancy and drives their desires.</p>
    </ul>
    <ul>
        <h2 class="text-[20px] text-[#000] py-3 font-semibold">The journey ahead</h2>
        <p class="text-19px font-medium text-[#4e4d4d]">Over the years, mobile phones became smaller, thinner, lighter, more powerful and unbelievably smart. Their glasses have become virtually unbreakable. Dust and water don't affect them. Their cameras became increasingly sophisticated and their memory as well as processing power became exceptionally fast. With more computing power in our hands that massive computers of a generation ago, we can now conduct business, send emails, communicate and be entertained in countless ways. Innovative applications enable us to do tasks that were unimaginable just a few years ago. Henceforth, mobile technologies will become all that and much more, relying on artificial intelligence and nano-technologies to become even more ubiquitous part of our lives. SwiftTalk will ever be part of the amazing journey into the future.</p>
    </ul>
</div>


<h1 class="text-[33px] text-center py-4 font-semibold text-[#240e0e]">What do our customers say?</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "Good service, good attitude by staff. There are ample options and the staff is knowledgeable. They worked out a better price option than online prices. Excellent customer service."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Vishnu M</h3>
    </div>
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "One of the best digital shops in Kochi. The staff are very courteous and helpful. They assist in selecting better options to meet our requirements. After-sales service for gadgets is good. I purchased my laptop from here, and after one month, I had trouble with a software issue..."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Mr. ANKIT S</h3>
    </div>
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "We had been to this showroom twice, and the first thing I noted walking through the doors was that the staff are so friendly and helpful in every aspect, making it easier to decide on a phone. The customer service staff did an excellent job assisting me."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Lukman Hakeem</h3>
    </div>
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "We had been to this showroom twice, and the first thing I noted walking through the doors was that the staff are so friendly and helpful in every aspect, making it easier to decide on a phone. The customer service staff did a brilliant job."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Tass Koshy</h3>
    </div>
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "My HP Omen X 17 inch gaming laptop stopped working a week after the warranty expired. I wasn't able to get it repaired by HP for the last 10 months. They were asking me 1 lac 40 thousand for a replacement of the motherboard, processor, and graphics card."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Jijesh M S</h3>
    </div>
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "Dear SwiftTalk family, my sister Vimala Anna Martin purchased a Redmi 7A from your Kadavantra branch. The service rendered by your staff, Mr. Cyril, was excellent. My family is very happy about it. Thanks to the Oxygen family and Mr. Cyril. Yours faithfully."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Kochuvareed Antony Martin</h3>
    </div>
    <div class="bg-white rounded-lg text-center shadow-md p-6">
        <p class="text-gray-700 text-base mb-4 w-[50%] text-center mx-auto">
            "Great range of products, and really good customer service. The staff are always available for help. Had a great experience shopping! Nice ambience and a good collection of mobiles and accessories at affordable prices."
        </p>
        <h3 class="text-lg font-semibold text-gray-800">Aashi Raphael</h3>
    </div>
</div>


<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

</style>

<section class="container">
    <div class="testimonial mySwiper">
      <div class="testi-content swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="#" alt="" class="image" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            saepe provident dolorem a quaerat quo error facere nihil deleniti
            eligendi ipsum adipisci, fugit, architecto amet asperiores
            doloremque deserunt eum nemo.
          </p>
          <i class="bx bxs-quote-alt-left quote-icon"></i>
          <div class="details">
            <span class="name">Marnie Lotter</span>
            <span class="job">Web Developer</span>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="#" alt="" class="image" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            saepe provident dolorem a quaerat quo error facere nihil deleniti
            eligendi ipsum adipisci, fugit, architecto amet asperiores
            doloremque deserunt eum nemo.
          </p>
          <i class="bx bxs-quote-alt-left quote-icon"></i>
          <div class="details">
            <span class="name">Marnie Lotter</span>
            <span class="job">Web Developer</span>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="#" alt="" class="image" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            saepe provident dolorem a quaerat quo error facere nihil deleniti
            eligendi ipsum adipisci, fugit, architecto amet asperiores
            doloremque deserunt eum nemo.
          </p>
          <i class="bx bxs-quote-alt-left quote-icon"></i>
          <div class="details">
            <span class="name">Marnie Lotter</span>
            <span class="job">Web Developer</span>
          </div>
        </div>
      </div>
      <div class="swiper-button-next nav-btn"></div>
      <div class="swiper-button-prev nav-btn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>


<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
</script>


<footer class="bg-black text-gray-300 py-8">
    <div class=" flex flex-col lg:flex lg:justify-center items-center px-4 lg:px-8 py-6 border-b border-gray-700 space-y-4 lg:space-y-0">
        <div class="flex justify-center w-full items-center space-y-4 lg:space-y-0">
            <!-- Subscription Section -->
            <div class="flex items-center space-x-4">
                <!-- Icon -->
                <div class="mr-4">
                    <img src="https://oxygendigitalshop.com/dist/flying-mail-white-fji.svg" alt="Mail Icon" class="w-10 h-10">
                </div>
                <!-- Text -->
                <div >
                    <h2 class= "text-[#fff] text-[22px] text-xl font-semibold">Fear Of Missing Out?</h2>
                    <p class="text-gray-400">Get THE LATEST DEALS, UPDATES & MORE</p>
                </div>
            </div>
            <!-- Subscription Form -->
            <form class="flex items-center  ml-10">
                <div class="flex border border-gray-300 rounded overflow-hidden">
                    <input type="email" name="email" placeholder="Enter your Email"
                           class="px-4 py-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                           autocomplete="email">
                    <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-[#fff] px-4 rounded-r">
                        Subscribe
                    </button>
                </div>
            </form>
        </div>
    
        <!-- Social Media Section -->
        <div class="flex justify-between w-full  lg:w-auto items-center lg:justify-end space-x-3 pt-10 lg:mt-0">
            <span class="text-[#fff] text-[20px] font-medium">Follow us:</span>
            <a href="#" target="_blank" rel="noopener noreferrer" class=" hover:bg-blue-400 rounded-3xl">
                <img src="https://oxygendigitalshop.com/dist/icon-facebook-kD2.svg" alt="Facebook" class="w-10 h-10">
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class=" hover:bg-rose-700 rounded-3xl">
                <img src="https://oxygendigitalshop.com/dist/icon-instagram-viz.svg" alt="Instagram" class="w-10 h-10">
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class=" hover:bg-blue-400 rounded-3xl">
                <img src="https://oxygendigitalshop.com/dist/icon-twitter-tH8.svg" alt="Twitter" class="w-10 h-10">
            </a>
        </div>
    </div>
    
    <div class="max-w-7xl mx-auto px-4 lg:px-8 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Shop Section -->
            <div>
                <strong class="block text-[23px] font-semibold text-[#fff] mb-4">Category</strong>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:text-[#f00]">Mobile </a></li>
                    <li><a href="#" class="hover:text-[#f00]">Laptop</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Tablets</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Watchs</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Tvs</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Blogs</a></li>
                </ul>
            </div>

            <!-- About Section -->
            <div>
                <strong class="block text-[23px] font-semibold text-[#fff] mb-4">About</strong>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:text-[#f00]">About Us</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Contact Us</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Careers</a></li>
                </ul>
            </div>

            <!-- Policy Section -->
            <div>
                <strong class="block text-[23px] font-semibold text-[#fff] mb-4">Policy</strong>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:text-[#f00]">Terms &amp; Conditions</a></li>
                    <li><a href="#" class="hover:text-[#f00]">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Contact Information Section -->
            <div>
                <div class="space-y-4">
                    <div>
                        <strong class="block font-semibold text-[20px] text-[#fff]">Head Office</strong>
                        <p>Ward-13/ 195-B,195-C,195-D,195-E,</p>
                        <p>St.Antonys Arcade, Opposite to Nehru Stadium,</p>
                        <p>Nagampadom, Kottayam, Kerala 686001, India</p>
                    </div>
                    <div>
                        <strong class="block font-semibold text-[20px] text-[#fff]">Email Support</strong>
                        <p>support@SwiftTalk.com</p>
                    </div>
                    <div>
                        <strong class="block font-semibold text-[20px] text-[#fff]">Showroom Related Enquiries</strong>
                        <p>+91 9020180100 <br> Working Hours: 9:00 AM To 6:00 PM IST</p>
                    </div>
                    <div>
                        <strong class="block font-semibold text-[20px] text-[#fff]">Ecommerce Support</strong>
                        <p>+91 974 570 3832 <br> Working Hours: 9:00 AM To 6:00 PM IST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
  
{% endblock %}
